*{
    margin: 1px;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.list{ 

    text-align: end; 
    font-weight: bold;
    font-size: large;
}

a{

    text-decoration: none; 
    color: rgb(19, 4, 4);
    padding: 1%;
    margin-top: 0;

}

header{

 background-image: url(imag/70anosXaverianos.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
}