*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.list a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #903;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
header{
    
    border: solid;/* Essa propriedade adiciona um contorno(uma linha solida) para conseguir identificar a caixa e posicionamentos*/
   }
   .figcaption{
    position:absolute;
    top: 7%;
    left: 8%;
    border: solid;
    border-color: black;
    position: absolute; 
   }
.navegacao{
    border: solid;
    border-color: black;
    position: absolute; 
    top: 7%;
    right: 2%;
    width: 50%;
}   

.list{ 

    text-align: end; 
    font-weight: bold;
    font-size: large;
}
.item70 img {
border: solid transparent;
width: 100%;
max-width: 100%;
height: 600px;
opacity: 0, 5;
background-image: url(imag/70anos.jpeg);

}

a{

    text-decoration: none; 
    color: rgb(19, 4, 4);
    padding: 1%;
    margin-top: 0;

}

.apresentacao {
    background-color: rgba(255,213,79,1);
    align-items: center;
    border-color: black;
    border: solid;
    text-align: center;
    
}
.apresentacao p {
    text-align: center;
    text-align: justify;
    margin-left: 30%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-indent: 2;
    

}
.video {
    width: 750px;
    margin:0 auto;
    display: block;
    
}
.video h3 {
    text-align:calc(90%);
    
}

.Cinza {
    width: 1430px;
    height: 1100px;
    background-color: gray;
}

.Marinoni-nas-Montanhas {
    background-size:contain;
    width: 200px;
    height: 100%;
    position: relative;
    background-position-x:center;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 8;

}

.Branco {
    background-color: white;
    width: 815px;
    height: 850px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.titulo {
    font-size: 80px;
    font-style: italic;
    text-align:left left;
    width: 900px;
    height: 100px;
    background-color: gray;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.text {
    position: absolute;
    text-align: justify;
    top: 24%;
    left: 64%;
    width: 35%;
    font-size: 20px;
    color: black;
}
.Ordenacao {
display: grid;
grid-template-rows: 1fr;
border: solid;

}
.color {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid;
    

}